.badge-lg {
  font-size: 1rem !important;
  background: #00fa9a !important;

  &:hover {
    filter: brightness(0.9);
  }
}

.light-link {
  &:hover {
    color: #fff !important;
  }
}

.avatar {
  width: 128px;
  height: 128px;
}
